OpenCart generated e-mail body fails DKIM signature

OC 3.0.3.8
/system/library/mail/mail.php

I have installed OpenDKIM on my server and it worked fine except all OC html e-mails. 
Turns out after a lot of research the problem is that OC produces a very long single line string of base64-encoded e-mail body.
According to RFC 5321 Section 4.5.3.1.6, the maximum line size in an email is 1000 bytes, and Postfix MTA automatically inserts a CRLF after every 990 bytes. The consequence is that the body is "modified" by Postfix after it has been DKIM signed, failing the DKIM verification afterwards !

The solution was very simple:
In /system/library/mail/mail.php I just wrapped all `base64_encode($text)` in `chunk_split()`, inserting a CRLF every 950 characters:
`chunk_split(base64_encode($text),950)`

That's it ! No more DKIM troubles. The file already used the chunk_split() function for attachments, I don't why it didn't use it either for HTML e-mail content.

